body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #error-msg {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
  .home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .home-icon img {
    height: 40px;
    width: 40px;
  }
  