<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about.css">
  </head>
  <body>
   <header>
    <nav>
        <a href="/">Home</a>
    </nav>
   </header>
    <main>
      <h1>About Us</h1>
      <p>Welcome to our social network! We are a group of passionate individuals dedicated to providing high-quality services to our clients.</p>
      
      <h2>Our Team</h2>
      <ul>
        <li>Malky Rotshild</li>
        <li>Shirel Abergil</li>
        <li>Adi Buchris</li>
        <li>Esty blotnik</li>
        <li>Noa Asulin</li>
        <li>Demi Nezter</li>
      </ul>
    </main>
    
    <footer>
      <p>Copyright © 2023.</p>
    </footer>
  </body>
</html>
