
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/home_page.css">
</head>
<body>
   
    <header>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="log_in.ejs">Login</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <h1>Welcome to My Website</h1>
        <p>This is the home page of my website. Please use the navigation bar above to go to the login page.</p>
    </main>
</body>
</html>
